* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(163, 167, 177);
  min-height: 100vh;
}

/* pop up pages */

/* Styling for the overlay background */
.pop-up {
  margin: auto; /* Horizontaly center*/
  width: 40%;
  height: 40%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(216, 202, 202, 0.3); /* Semi-transparent black color */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling for the modal content */
.game-popup {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

/* Styling for the heading in the modal */
.game-popup h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

/* Styling for the message in the modal */
.game-popup p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #555;
}

/* Styling for the close button in the modal */
.game-popup .popup-btn {
  cursor: pointer;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.game-popup .popup-btn:hover {
  background-color: #cec8c8;
}


/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 60%;
}

.modal-content p {
  font-size: 100%;
}
/* The close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#page {
  display: flex;
  flex-direction: column;
}

#homePage {
  display: flex;
  flex-direction: column;
}

#wraper {
  flex: auto;
  height: 100vh;
}

.top-left-container {
  height: 25.5rem;
  width: 43rem;
  margin-bottom: 2rem;
  text-align: center;
  box-shadow: 0 5rem 8rem rgba(0, 0, 0, 0.6);
  position: relative;
  float: left;
  display: flex;
  background: rgb(56, 133, 156);
  border-radius: 10px;
  left: 7rem;
  top: 1rem;
}

.top-right-container {
  height: 15rem;
  width: 26rem;
  box-shadow: 0 5rem 8rem rgba(0, 0, 0, 0.6);
  text-align: center;
  position: relative;
  float: right;
  display: flex;
  background: rgb(56, 133, 156);
  border-radius: 10px;
  right: 3rem;
  top: 1rem;
}

.bottom-left-container {
  height: 10.5rem;
  width: 43rem;
  margin-left: 7rem;
  /* bottom: 0.6rem; */
  box-shadow: 0 5rem 8rem rgba(0, 0, 0, 0.6);
  background: rgb(56, 133, 156);
  border-radius: 10px;
  text-align: center;
  position: relative;
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.bottom-right-container {
  height: 17rem;
  width: 26rem;
  box-shadow: 0 5rem 8rem rgba(0, 0, 0, 0.6);
  text-align: center;
  position: relative;
  float: right;
  background: rgb(56, 133, 156);
  border-radius: 10px;
  display: flex;
  bottom: 8rem;
  right: 3rem;
}

/* center the div inside the top left container */
.center {
  margin: auto; /* Horizontaly center*/
  width: 100%;
  height: 80%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}



/* center text content inside the div*/
/* .center p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 25px;
  margin-bottom: -20.74px; /* Adjust this value to control the gap between the rows */
}

.hexagon {
  position: relative;
  width: 65px;
  height: 70.47px; /* Adjust this value to control the height-to-width ratio of the hexagon */
  background: #ccc;
  margin: 2px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon:hover {
  background:#fefefe;
}
/* center text content inside the hexagon*/
.number {
  font-size: 100%;
  display: grid;
  place-items: center;
}

.offset {
  margin-left: -68px;
}

.dice-image {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  height: 50%;
}

.dice-image .hover-image {
  display: none;
}
.dice-image:hover .image {
  display: none;
}

.dice-image:hover .hover-image {
  display: flex;
}

/* Game buttons */

.game-button {
  position: relative;
  margin: 5px auto;
  padding-bottom: 15px;
  width: 100%;
  height: 30%;
}


.btn {
  position: relative;
  color: black;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 200;
  transition: all 0.2s;

  background-color: rgba(255, 255, 255, 0.6);

  border-radius: 0.4rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}


/* score area */

#score {
  position: relative;
  text-align: center;
  padding: 1.9rem 2rem;
  width: 50%;
  color: black;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  margin: auto;
}

#steps {
  position: relative;
  text-align: center;
  padding: 1.9rem 2rem;
  width: 50%;
  color: black;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  margin: auto;
}

#current-name {
  color: black;
  font-size: 2rem;
  text-transform: uppercase;
}

#total-score {
  font-size: 3rem;
}

#move {
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  /* font-weight: 300; */
}

#moves {
  font-size: 3rem;
  color: black;
  /* font-weight: 300; */
}

.logo {
  width: 80%;
  height: 60%;
}

/* footer */

footer {
  position: absolute;
  list-style: none;
  bottom: 0;
  width: 100%;
  height: 1vh;
  box-sizing: border-box;
  margin: auto;
}

.social-media {
  position: relative;
  background-color: rgb(69, 208, 233);
  color: #250317;
}

.social-media-button {
  text-align: center;
}

.social-media-button > li {
  display: inline;
}

.social-media-button i {
  font-size: 100%;
  padding: 2%;
  color: rgb(30, 41, 143);
}

/* home page */

.top {
  width: 100%;
  height: 10%;
  margin-bottom: 0.2rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  display: flex;
  background: rgb(56, 133, 156);
}

.middle {
  width: 60%;
  height: 60%;
  margin-bottom: 0.2rem;
  /* text-align: center;
  box-shadow: 0 5rem 8rem rgba(0, 0, 0, 0.6);
  position: relative;
  display: flex;
  margin: 0 auto;
  background: rgb(159, 201, 214);
  opacity: 0.2;
  border-radius: 10px; */
}
/* .middle:hover {
  opacity: 0.8;
} */
#img-text {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(177, 177, 11);
  font-size: 100%;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  opacity: 1;
  transition: opacity 0.5s;
  color: black;
}



.bottom {
  width: 100%;
  height: 20%;
  display: flex;
  text-align: center;
  position: relative;
}

.home .logo {
  position: absolute;
  width: 18%;
  height: 100%;
  display: flex;
  top: 0;
  bottom: 0;
}

.home h1 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin: 5px auto;
}

.btn a {
  text-decoration: none;
  color: black;
}

/* page not found */
.text-center {
  margin-top: 10rem ;
  text-align: center;
}

/* Media Query */

@media screen and (max-width: 1200px) {
  .top-right-container {
    width: 100%;
    height: 10%;
    right: 0;
  }
  .top-left-container {
    width: 100%;
    height: 60%;
    left: 0;
  }
  .bottom-left-container {
    width: 50%;
    height: 20%;
    left: 0;
    bottom: 0;
  }
  .bottom-right-container {
    width: 50%;
    height: 20%;
    right: 0;
    bottom: 0;
  }

    .logo {
    position: absolute;
    width: 18%;
    height: 100%;
    display: flex;
    top: 0;
    bottom: 0;
  }

  h1 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 5px auto;
  }

  .dice-image {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 3em;
    height: 3em;
  }

  /* score area */

  #score {
    padding: 1.4rem 1rem;
    width: 40%;
  }

  #steps {
    padding: 1.4rem 1rem;
    width: 40%;
  }

  #current-name {
    font-size: 1rem;
  }

  #total-score {
    font-size: 2rem;
  }

  #move {
    font-size: 1rem;
  }

  #moves {
    font-size: 2rem;
  }

  /* Game buttons */

  .btn {
    color: black;
    font-size: 100%;
    padding: 0.2rem 1.2rem;
  }

  footer {
    position: relative;
    width: 100%;
    bottom: 0;
  }
}



@media screen and (max-width: 912px) {

  
  .top-right-container {
   height: 20%;
    right: 0;
  }
  .top-left-container {
    height: 50%;
    left: 0;
  }
  .bottom-left-container {
    width: 50%;
    height: 20%;
    left: 0;
    bottom: 0;
  }

  .bottom-right-container {
    width: 50%;
    height: 20%;
    right: 0;
    bottom: 0;
  }

    .logo {
    position: absolute;
    width: 18%;
    height: 100%;
    display: flex;
    top: 0;
    bottom: 0;
  }

  h1 {
    font-size: 38px;
    display: flex;
    justify-content: center;
    margin: 5px auto;
  }

  .container {
      margin-bottom: -20.74px; /* Adjust this value to control the gap between the rows */
    }
    
    .hexagon {
      width: 85px;
      height: 90.47px; /* Adjust this value to control the height-to-width ratio of the hexagon */
      margin: 1px;
    }
    
    .offset {
      margin-left: -79px;
    }

    .hexagon p {
      font-size: 30px;  
    }

}



@media screen and (max-width: 540px) {

  /* Modal Content */
.modal-content {
    width: 80%;
}

.modal-content p {
  font-size: 80%;
}

    .container {
      margin-left: 33px;
      margin-bottom: -10.74px; /* Adjust this value to control the gap between the rows */
    }
    
    .hexagon {
      width: 43px;
      height: 48.47px; /* Adjust this value to control the height-to-width ratio of the hexagon */
      margin: 0.8px;
    }
    
    .offset {
      margin-left: -40px;
    }

    h1 {
      font-size: 20px !important;
      display: flex;
      justify-content: center;
      margin: 5px auto;
    }

    .hexagon p {
    font-size: 20px;  
    }

}

@media screen and (max-width: 375px) {

    /* Modal Content */
.modal-content {
  width: 80%;
}

.modal-content p {
font-size: 60%;
}

  .container {
      margin-bottom: -10.74px; /* Adjust this value to control the gap between the rows */
    }
    
    .hexagon {
      width: 43px;
      height: 48.47px; /* Adjust this value to control the height-to-width ratio of the hexagon */
      margin: 0.8px;
    }
    
    .offset {
      margin-left: -40px;
    }

}


@media screen and (max-width: 280px) {

  .top-right-container {
    height: 10%;
     right: 0;
   }
   .top-left-container {
     height: 40%;
     left: 0;
   }
   .bottom-left-container {
     width: 50%;
     height: 20%;
     left: 0;
     bottom: 0;
   }
   
   .bottom-right-container {
     width: 50%;
     height: 20%;
     right: 0;
     bottom: 0;
   }

  /* Game buttons */

.btn {
  font-size: 0.6rem;
}

/* score area */

#score {
  padding: 1rem 1rem;
  width: 20%;
  border-radius: 20px;
  margin: auto;
}

#steps {
  padding: 1rem 1rem;
  width: 20%;
  border-radius: 20px;
  margin: auto;
}

#current-name {
  font-size: 0.7rem;
}

#total-score {
  font-size: 1rem;
}

#move {
  font-size: 0.7rem;
}

#moves {
  font-size: 1rem;
}


  .logo {
    position: absolute;
    width: 14%;
    height: 90%;
    display: flex;
    top: 0;
    bottom: 0;
  }

  .container {
    margin-bottom: -12.74px; /* Adjust this value to control the gap between the rows */
  }
  
  .hexagon {
    width: 40px;
    height: 45.47px; /* Adjust this value to control the height-to-width ratio of the hexagon */
    margin: 1px;
  }
  
  .offset {
    margin-left: -40px;
  }

  .hexagon p {
  font-size: 18px;  
  }

}