*{
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
}

.top-container {
    height: 20%;
    width: 100%;
}

.bottom-container {
    height: 80%;
    width: 100%;
}

.top-left-container {
    height: 100%;
    width: 65%;
    float: left;
    background: rgb(226, 223, 43);
    position:relative;
    text-align: center;
}

.top-right-container {
    height: 100%;
    width: 35%;
    float: right;
    background: rgb(127, 140, 255);
    position: relative;
    text-align: center;
}
.bottom-left-container {
    height: 100%;
    width: 65%;
    float: left;
    background: rgb(43, 226, 43);
    position:relative;
    text-align: center;
}

.bottom-right-container {
    height: 100%;
    width: 35%;
    float: right;
    background: rgb(255, 127, 244);
    position: relative;
    text-align: center;
}
/* center the div inside the top left container */
.center {
    margin: auto; /* Horizontaly center*/
    width: 100%;
    height: 50%;
    position:absolute; 
    left:0;
    right:0;
    top:0;
    bottom:0;
}
 /* center text content inside the div*/
.center p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
